
/* GENERAL STYLING */

* {
    text-align: center;
    outline: black dashed 1px;
    padding: 0;
    margin: 0;
}

/* DONE */

/*  */

.click-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* DONE */


/* Generate Click Button */

.main-click {
    opacity: 1 !important;
}

/* DONE */


button {
    margin: 5px;
    height: 40px;
    width: 100px;
    opacity: 0.5;
}


/* Upgrades Unlock Button */

.upgrades-unlock {
    opacity: 0.5;
    pointer-events: none;
}

/* DONE */



.upgrade ul {
    list-style: none;
}



























